main {
    align-items: center;
    display: table;
    font-size: large;
    margin: 0 50px;
    text-align: justify;
}

.container {
    display: table-cell;
    vertical-align: middle;
}

@media (width <= 1023px) {
    main {
        margin: 20px;
    }
}
