.intro {
    color: darkslategray;
}

.photo > img {
    border-radius: 50%;
    width: 320px;
}

.intro > div {
    padding: 5px 0;
}

.hello {
    font-size: xx-large;
    font-weight: bold;
}

.about-me {
    font-size: x-large;
}

@media (width <= 1023px) {
    .intro {
        margin-top: 50px;
    }

    .photo > img {
        width: 256px;
    }
}
