main {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.about-me {
    font-size: x-large;
}

.intro {
    color: darkslategray;
}

.intro > div {
    padding: 5px 0;
}

.hello {
    font-size: xx-large;
    font-weight: bold;
}

.photo > img {
    border-radius: 50%;
    width: 320px;
}

@media (width <= 1023px) {
    main {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .intro {
        margin-top: 50px;
    }

    .photo > img {
        width: 256px;
    }
}
