services:
  dev:
    build:
      args:
        - DEV_UID=${DEV_UID:-1000}
        - DEV_GID=${DEV_GID:-1000}
      context: .
      dockerfile: docker/Dockerfile
    command:
      - npm
      - run
      - dev
    expose:
      - 3000
    networks:
      - dev
    ports:
      - 3000:3000
    tty: true
    volumes:
      - type: bind
        source: .
        target: /app
      - type: bind
        source: ~/.cache/pnpm
        target: /home/node/.cache/pnpm
      - type: bind
        source: ~/.local/share/pnpm/store
        target: /home/node/.local/share/pnpm/store
    working_dir: /app

  prod:
    build:
      args:
        - DEV_UID=${DEV_UID:-1000}
        - DEV_GID=${DEV_GID:-1000}
      context: .
      dockerfile: docker/Dockerfile
    command:
      - /bin/bash
      - -c
      - |
        npm run build
        npm run start
    expose:
      - 8000
    networks:
      - prod
    ports:
      - 8000:3000
    tty: true
    volumes:
      - type: bind
        source: .
        target: /app
      - type: bind
        source: ~/.cache/pnpm
        target: /home/node/.cache/pnpm
      - type: bind
        source: ~/.local/share/pnpm/store
        target: /home/node/.local/share/pnpm/store
    working_dir: /app

networks:
  dev:
  prod:
