version: 2.1

workflows:
  pull_request:
    jobs:
      - tests:
          context:
            - docker-hub-credentials
          filters:
            branches:
              ignore:
                - main

jobs:
  tests:
    machine:
      image: ubuntu-2404:2026.02.20
    steps:
      - checkout
      - set_host_user_ids_environment_variable
      - run:
          name: Setup cache directory
          command: |
            mkdir -p ~/.cache/pnpm
            mkdir -p ~/.local/share/pnpm/store
      - run:
          name: Install the latest Task binary
          command: sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b ~/bin
      - restore_cache:
          keys:
            - pnpm-{{ .Environment.CACHE_VERSION }}-{{ checksum "package-lock.json" }}
            - pnpm-{{ .Environment.CACHE_VERSION }}-
      - run:
          name: Install dependencies
          command: task dependencies:install
      - save_cache:
          key: pnpm-{{ .Environment.CACHE_VERSION }}-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
            - ./.next/cache
      - run:
          name: Check the code style
          command: task tests:static:format:check
      - run:
          name: Lint the stylesheets
          command: task tests:static:style-sheet:lint
      - run:
          name: Lint the application code
          command: task tests:static:code:lint -- --format junit -o test_results/eslint.xml
      - run:
          name: Check the code typing
          command: task tests:static:types:check
      - run:
          name: Run unit tests
          environment:
            JEST_JUNIT_OUTPUT_DIR: test_results
            JEST_JUNIT_OUTPUT_NAME: unit.xml
          command: task tests:unit:run -- --reporters=default --reporters=jest-junit
      - store_artifacts:
          path: test_results
      - store_test_results:
          path: test_results

commands:
  set_host_user_ids_environment_variable:
    description: "Set Docker Compose DEV_UID and DEV_GID environment variables according to the host virtual machine"
    steps:
      - run:
          name: Set Docker Compose DEV_UID and DEV_GID environment variables according to the host virtual machine
          command: |
            echo 'export DEV_UID="$(id -u)"' >> $BASH_ENV
            echo 'export DEV_GID="$(id -g)"' >> $BASH_ENV
