.section {
  padding: 10px 0;
}

.section-title {
  border-bottom: 1px solid #888;
  color: dimgrey;
  font-size: large;
  padding: 5px 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.subsection {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.subsection-title {
  color: grey;
  padding-right: 15px;
  text-align: right;
  width: 25%;
}

.subsection-value {
  width: 75%;
}

.subsection-value > ul {
  margin: inherit;
}

.name {
  font-size: xxx-large;
  font-weight: bold;
  padding: 5px 0;
  text-transform: capitalize;
}

.profession {
  color: dimgrey;
  font-size: x-large;
  font-weight: bold;
  padding: 5px 0;
  text-transform: uppercase;
}
