html {
    background-color: lightgray;
    height: 100%;
    margin: 0 auto;
    max-width: 1024px;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
    min-height: 100%;
}

nav {
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-end;
}

footer {
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

nav a {
    float: left;
    color: darkgrey;
    font-size: normal;
    padding: 18px 25px;
    text-align: center;
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

nav a:hover {
    background-color: #e6e6e6;
}

nav a.active {
    color: dimgrey;
}

.copyright {
    font-size: medium;
    color: dimgray;
}

.links img {
    padding: 0 10px;
    height: 32px;
}

@media (width <= 1023px) {
    nav a {
        padding: 10px;
    }

    footer {
        padding: 10px;
    }

    .links img {
        padding: 0 2px;
        height: 24px;
    }
}
